.btnClr {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 0px 0px 0px 0px;
    font-family: 'mTelFntScr1';
    font-size: 36px;
    line-height: 1.5;
  }