<div class="welcome-message" *ngIf="bDays.length > 0">
    <h2>Happy Birthday to all the amazing kids celebrating this week</h2>
    
    <div class="div-telugu40" style="background-color:lightyellow">
        పుట్టిన రోజు శుభాకాంక్షలు
    </div>

    <table class="table table-hover" >
        <thead>
          <tr>
            <th>Name</th>
            <th>Class</th>
            <th>Birth Day</th>
            <th>photo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bDay of bDays">
            <td>{{ bDay.name }}</td>
            <td>{{ bDay.class }}</td>
            <td>{{ bDay.dob }}</td>
            <td><img src={{bDay.photourl}} alt="Profile picture" style="width:100px"></td>
          </tr>
        </tbody>
      </table>


    

</div>