<div *ngFor="let mevent of mediaevents; index as j">
    <div class="w3-container w3-teal">
      <h1>{{mevent.eventName}}</h1>
    </div>
    <div class="w3-bar w3-light-grey" style="padding-left: 10%; padding-right: 10%;">
      <button *ngFor="let mvedlink of mevent.videoLinks; index as i" class="w3-bar-item w3-button w3-mobile" (click)="incrementCounter(i,j)"><div class="div-telugu20">{{i+1}}) {{mvedlink.title}}</div></button>
    </div>
    
    <div  class="w3-row-padding w3-margin-top">
      <div  class="w3-third">
        <div class="w3-card">
  
          <iframe width="100%" height="100%" [src]= "mevent.videoLinks[mevent.currentCount].vlink" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          
          <div class="w3-container">
            <div class="div-telugu20">{{mevent.videoLinks[mevent.currentCount].title}}</div>
          </div>
        </div>
      </div>
    </div>
  
    <br>
  
  </div>
  
  
    
    <!--
  
  2018
  <iframe width="560" height="315" src="https://www.youtube.com/embed/gsCbOsTX5UU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
  <iframe width="560" height="315" src="https://www.youtube.com/embed/RzZC7qCayEg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
  <iframe width="560" height="315" src="https://www.youtube.com/embed/OQHS4GqshTY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
  
  2017
  <iframe width="560" height="315" src="https://www.youtube.com/embed/VFEVSt8uGy8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
  <iframe width="560" height="315" src="https://www.youtube.com/embed/FdwGM-jEKqA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
  <iframe width="560" height="315" src="https://www.youtube.com/embed/bqKpiYIvelk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
  <iframe width="560" height="315" src="https://www.youtube.com/embed/MUnV5cEUCfM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
  <iframe width="560" height="315" src="https://www.youtube.com/embed/gn2VGlWWbsE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
  <iframe width="560" height="315" src="https://www.youtube.com/embed/kVcF4qfbhKw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
  <iframe width="560" height="315" src="https://www.youtube.com/embed/LgspPQNidDA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
  <iframe width="560" height="315" src="https://www.youtube.com/embed/xyTDzlhvscE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
  <iframe width="560" height="315" src="https://www.youtube.com/embed/QqpQJifvQFA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
  <iframe width="560" height="315" src="https://www.youtube.com/embed/E1IHDI_kvNY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
  <iframe width="560" height="315" src="https://www.youtube.com/embed/B6SmlKJ9YTQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
  <iframe width="560" height="315" src="https://www.youtube.com/embed/ujKVoELOAM8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
  <iframe width="560" height="315" src="https://www.youtube.com/embed/cSFNO28hYgQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
  <iframe width="560" height="315" src="https://www.youtube.com/embed/YlDyBwjGF_E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
  <iframe width="560" height="315" src="https://www.youtube.com/embed/y6jo1h1dhrM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
  <iframe width="560" height="315" src="https://www.youtube.com/embed/yjlu5bJXqWo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
  <iframe width="560" height="315" src="https://www.youtube.com/embed/4-akpzORUYk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
  <iframe width="560" height="315" src="https://www.youtube.com/embed/4fsbe5AVL_o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
  
    -->
  