<h2>Registration Form  Balamukundam Classes</h2>
<p> Balamukundam is primarily an online school specializing in teaching Telugu language. 
  Supported by our committed team of volunteer teachers, we also offer Sanskrit language classes, Vedic classes, Carnatic music sessions, and workshops on Tanjore painting. 
  Whether you're interested in learning or teaching, you can join us to expand our community and reach more students. 
  It's important to highlight that all our language and Vedic classes are provided free of charge. 
  Join us today to contribute to our vibrant learning community!</p>



<div class="form-container">
  <div class="row">

    <div class="card" style="width: 18rem; margin-left: 20px; vertical-align: middle;">
      <div class="card-body">
        <button type="button" class="btn btn-outline-primary"  (click)="navigateToUrl('/regstudent')">Regiser As Student</button>
      </div>
      <img class="card-img-top" src="../../../assets/images/BalamukundamKids.png" alt="Card image cap">
      
    </div>

    <div class="card" style="width: 18rem; margin-left: 20px; vertical-align: middle;">
      <div class="card-body">
        <button type="button" class="btn btn-outline-primary"  (click)="navigateToUrl('/regteacher')">Regiser As Teacher</button>
      </div>
      <img class="card-img-top" src="../../../assets/images/teaches.png" alt="Card image cap">
      
    </div>


  </div>
</div>