<h3>{{userClassText}}</h3>
<table class="table table-hover" *ngIf="usersClassData.length > 0" >
  <thead>
    <tr>
      <th>Class Name</th>
      <th>Description</th>
      <th>Timings</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bmkClass of usersClassData; let i = index" (click)="onClassDataSelected(i)" [class.table-primary]="selectedClassIndex == i">
      <td>{{ bmkClass.name }}</td>
      <td>{{ bmkClass.description }}</td>
      <td>{{ bmkClass.timings }}</td>
    </tr>
  </tbody>
</table>

<div class="w3-col" *ngIf="usersClassData.length > 0">
    <div class="card card-body">
        
      <h2>Class Calendar</h2>

      <table class="table table-hover" *ngIf="selectedClassSchedules.length > 0" >
        <thead>
          <tr>
            <th>Sl. No.</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
  
          <tr *ngFor="let selectedClassSchedule of selectedClassSchedules; let i = index" (click)="selectedDate = selectedClassSchedule.scheduledate" [class.table-primary]="selectedClassSchedule.classid === selectedDate">
            <td>{{i+1}}</td>
            <td>{{ formatDateInternational(selectedClassSchedule.scheduledate) }}</td>              
          </tr>
        </tbody>
      </table>

    </div>
</div>
