
    
    <br>
    <h2 style="background-color: lightblue">Introduction</h2>
    <h5 style="background-color:lightyellow">
      Being far away from our motherland, with the good intention of teaching our mother tongue Telugu to our children we started this
      programme called Balamukundam. In Balamukundam lessons, children learn to read, write, converse and sing songs and poems in Telugu.
      They also learn moral stories.<br>
       
      <br>Keeping in mind their age and proficiency of the language, children have been put into various levels. The name of each group is 
      taken from the seven hills of Tirumala which are as follows: Seshadri, Garudadri, Vrushabhadri, Vrushadri, Anjanadri, Narayanadri and
      Venkatadri. In Seshadri they start with short words, numbers, picture recognition, relationships. Slowly as their level progresses they learn 
      to read and understand grammar. Each year we conduct Annual exams. In order to encourage the creative side of children, every year 
      we have an Annual day programme, where they do Drama, folk dance and singing.<br>
  
      <br>To further enhance their interest in Telugu language, we have a
      library in which we have a collection of Short story books.
      In order to open the branches of Balamukundam, please contact us.<br>
    </h5>
    <br><br>
    
    <div class="div-telugu40" style="background-color: lightblue">పరిచయము</div>
    <div class="div-telugu20" style="background-color:lightyellow">
      మాతృదేశానికి ఎంతో దూరంలో ఉన్న మన అందరికి, మన పిల్లలకి, మన మాతృభాష నేర్పించాలనే సత్సంకల్పంతో మొదలైనది బాలముకుందం. బాలముకుందంలో మేము పిల్లలకి తెలుగు చదవడం, వ్రాయడం, సంభాషించడం మరియు తెలుగు పాటలను, పద్యాలను, నీతి
      కధలను నేర్పడం జరుగుతోంది. పిల్లల వయసు మరియు వారి సామర్ధ్యంని దృష్టిలో ఉంచుకొని శేషాద్రి, గరుడాద్రి, వృషభాద్రి, వృషాద్రి, అంజనాద్రి, నారయణాద్రి మరియు వెంకటాద్రి తరగతులలో విభజించడం జరిగింది. ప్రథమ తరగతైన శేషాద్రిలో చిన్న చిన్న మాటలు, అంకెలు,
      బొమ్మలు గుర్తించుట, బంధుత్వాలు చెప్పడం జరుగుతోంది. క్రమ క్రమంగ తెలుగులో చదవడం, వ్రాయడం మరియు వ్యాకరణం నేర్పించడం జరుగుతోంది. ప్రతి ఏడాది పరీక్షలు నిర్వహించడం జరుగుతోంది. తెలుగు భాష పై మక్కువ పెరగాలనే ఉద్దేశ్యంతో గ్రంధాలయం
      ప్రారంభించి, తెలుగు కధల పుస్తకములు అందించడం జరుగుతోంది.<br>
  
      <br>పిల్లలని ఉత్సాహపరచాలనే ఉద్దేశ్యముతో ప్రతి సంవత్సరం వార్షికోత్సవం జరుపుకోవడం జరుగుతోంది. బాలముకుందం శాఖలను ఉచితముగా వివిధ ప్రదేశాలలో ప్రారంభించడం కోసము మమ్మలని సంప్రదించండి.
    </div>

    <br><br>
    

    <h2 style="background-color: lightblue">Upcoming Events</h2>
    <div class="div-telugu30" style="text-align: center;">శ్రీ సరస్వతీ పూజ మరియు సద్గురు శ్రీత్యాగరాజ స్వామి ఆరాధనోత్సవములు</div>
    <div class="container">
      <div class="content">
        <!-- Your content goes here -->
        
        <div class="div-telugu20" style="background-color:lightyellow">
          <p>18th February 2024 (ఆదివారము ) </p>
          <p>మన బాలముకుందము చిన్నారులచే అంతర్జాల మాధ్యమంగా సరస్వతీ పూజ, శ్రీ సద్గురు శ్రీత్యాగరాజ స్వామి వారి ఆరాధనోత్సవములు 18th February 2024, (ఆదివారము - Sunday) నాడు నిర్వహించుదాము. పిల్లలు ఈ క్రింద పేర్కొన్న ఏవిధంగానైనా కార్యక్రమములో పాల్గొన వచ్చును.
          </p>
          <p>1) సరస్వతీ దేవిని స్తుతిస్తూ పద్యములు గానీ శ్లోకములు గానీ చెప్పవచ్చును.</p>
          <p>2) ఏదైనా త్యాగరాజ కీర్తనము గానీ, సరస్వతీ దేవి కీర్తనము గానీ పాడ వచ్చును.</p>
          <p>3) త్యాగరాజ కీర్తనమునకు అర్థము చెప్ప వచ్చును.</p>
          <p>4) త్యాగరాజ స్వామి వారి జీవిత చరిత్రలోని ఏవైనా విషయములను చెప్పవచ్చును.</p>

          <p>ఆశక్తి గల పిల్లలు/తల్లిదండ్రులు మాకు తెలియజేయండి. పిల్లలకి ఈ రెండు నెలలలో, శిక్షణనిచ్చి సరస్వతీ పూజను నిర్వహించుకుందాము.</p>
          <br>
          Please register in the link... <a href="https://forms.gle/Mv1ud5gjP2QbAw8h9" target="_blank"> Google Form</a> 
          
        </div>
      </div>
      <img src="https://drive.google.com/uc?export=download&id=1JCjcRE6rgmvJ04oIjMwdQz2WN9HBV8Tk" alt="Your Image" class="image">
    </div>



