


<div class="input-group mb-3">

  <textarea rows="16" cols="0" id="englishTextHeaderArea" spellcheck="false" autocorrect="off" autocapitalize="off" [(ngModel)]="jsonHeaderString" style="width:100%" placeholder="jsonData"></textarea>
  <div class="w3-bar w3-light-grey w3-row" >
    <button class="w3-bar-item w3-button btnAction w3-col l3 m3 s3" (click)="updateHeader()">Update</button>
    <button class="w3-bar-item w3-button btnAction w3-col l3 m3 s3" (click)="1">New</button>               
    <button class="w3-bar-item w3-button btnAction w3-col l3 m3 s3" (click)="1">Duplicate</button>                
    <button class="w3-bar-item w3-button btnAction w3-col l3 m3 s3" (click)="saveHeader()">SaveHeader</button>

  </div>

    <div *ngIf="lessonHeaderData[currentCount]" class="a4-sheet">
        <div style="text-align: center;">
            <h1 style="font-family:NotoSansTelugu;">{{getTel('telugu paaThamulu')}}</h1>
        
            <input  type="checkbox" id="checktel" [(ngModel)]="bTel" >
            <label for="checktel" style="padding-left: 5px; "> Telugu</label>  
        
            <input  type="checkbox" id="checktrans" [(ngModel)]="bTrans" style="margin-left: 25px; ">
            <label for="checktrans" style="padding-left: 5px; "> Transcription</label> 
        </div>

        <input  type="checkbox" id="selectLesson" [(ngModel)]="bShowLessons" >
        <label for="selectLesson" class="div-telugu20" style="padding-left: 5px; "> Select Lesson {{getTel(lessonHeaderData[currentCount].lName)}}</label>  
        <div *ngIf="bShowLessons" class="w3-bar w3-light-grey" style="padding-left: 10%; padding-right: 10%;">
            <button *ngFor="let wsObjs of lessonHeaderData; index as i" class="w3-bar-item w3-button w3-mobile" (click)="incrementCounter(i)"><div id="{{ 'wsObjs' + i }}" class="div-telugu20">{{i+1}}) {{getTel(wsObjs.lName)}}</div></button>
        </div>

        <div *ngIf="lessonHeaderData[currentCount]" class="w3-bar w3-light-grey" style="padding-left: 10%; padding-right: 10%;">
            <button *ngFor="let wsObjs of lessonHeaderData[currentCount].lessons; index as i" class="w3-bar-item w3-button w3-mobile" (click)="incrementCounter2(i)"><div id="{{ 'wsObjs' + i }}" class="div-telugu20">{{i+1}}) {{getTel(wsObjs.title)}}</div></button>
        </div>

    </div>


    <textarea rows="16" cols="0" id="englishTextArea" spellcheck="false" autocorrect="off" autocapitalize="off" [(ngModel)]="jsonString" style="width:100%" placeholder="jsonData"></textarea>
    
    <label>Data id :{{selectedRowsId}}</label>
    <div *ngIf="jsonString !==''" class="w3-bar w3-light-grey w3-row" >
        <button class="w3-bar-item w3-button btnAction w3-col l3 m3 s3" (click)="update()">Update</button>
        <button [disabled]="selectedRowsId != ''" class="w3-bar-item w3-button btnAction w3-col l3 m3 s3" (click)="createNewData()">New</button>               
        <button [disabled]="true" class="w3-bar-item w3-button btnAction w3-col l3 m3 s3" (click)="1">Duplicate</button>                
        <button [disabled]="selectedRowsId == ''" class="w3-bar-item w3-button btnAction w3-col l3 m3 s3" (click)="updateRowsInDatabase()">Save</button>
    
      </div>
    

          
    <div *ngFor="let RowData of RowsData, let rowcount = index" >

      <button (click)="createNewRowAbove(rowcount)">Insert Row Above</button>
      <button (click)="deletRowAtPosition(rowcount)">Delete this Row</button>
      <h1>Begin of Row-{{rowcount+1}}</h1>
  
      <div *ngIf="currentLessonCount>=0" id="stotramcontent" class="a4-sheet element-container">
        
  
        <div [style.width.%]="item.width"  class="element" *ngFor="let item of RowData.items, let columncount = index">
          
          <select [(ngModel)]="selectedColumnOption">
            <option *ngFor="let filterOpt of filterOptions" [value]="filterOpt">{{filterOpt}}</option>
          </select>
          <button (click)="insertColumnBefore(rowcount, columncount)">Insert Column Left</button>
          <button (click)="insertColumnBefore(rowcount, columncount+1)">Insert Column Right</button>
          <div *ngIf="RowData.items.length > 1">            
            <button (click)="deletColumnAtPosition(rowcount, columncount)">Delete this Column</button>

            <div class="form-group">
              <label>Column width:</label>
              <input type="text" [(ngModel)]="item.width"  placeholder="Column width">
            </div>
          </div>
            <h3 *ngIf="item.type==0">Column-{{columncount+1}} Paragraph</h3>
            <h3 *ngIf="item.type==1">Column-{{columncount+1}} Image</h3>
            <h3 *ngIf="item.type==10">Column-{{columncount+1}} Slide Images</h3>
            <h3 *ngIf="item.type==99">Column-{{columncount+1}} End of Section</h3>
            
          <hr>        
          
          <br>
          <div *ngIf="item.type==0">
            <div *ngIf="item.textTop!=''">
              <span *ngIf="bTel" style="font-family:NotoSansTelugu; line-height:125%;font-size: 22px;">
                <p>{{getTel(item.textTop)}} </p>
              </span>  
 
              <span *ngIf="bTrans" style="font-family:NotoSansTelugu; line-height:125%;font-size: 22px;">
                <p>{{getTran(item.textTop)}} </p>
                <p>{{(item.textTopEng)}} </p>
              </span>
            </div>
            <div style="text-align: left;">
              <div class="form-group">
                <label>Enter Header</label>
                <input type="text" class="form-control" [(ngModel)]="item.textTop"  placeholder="......">           
              </div>
              
              <div class="form-group">
                <label>Enter Header English meaning</label>
                <input type="text" class="form-control" [(ngModel)]="item.textTopEng"  placeholder="......">
              </div>
              
              <label>Enter Textboody</label>
              <textarea rows="16" cols="0" spellcheck="false" autocorrect="off" autocapitalize="off" [(ngModel)]="item.textBody" style="width:100%" placeholder="can enter multiple lines of text"></textarea>
              
              <label>Enter Textboody English meaning</label>
              <textarea rows="16" cols="0" spellcheck="false" autocorrect="off" autocapitalize="off" [(ngModel)]="item.textBodyEng" style="width:100%" placeholder="can enter multiple lines of text"></textarea> 
            </div>
            
            <div *ngIf="item.textBody">
              <div *ngIf="bTel" style="text-align: justify; font-family:NotoSansTelugu; line-height:125%;font-size: 22px;">
                <div *ngFor="let paratxt of getTelForPara(item.textBody)">
                  <br *ngIf="paratxt===''">
                  <p *ngIf="paratxt!==''" >{{paratxt}} </p>
                </div>
                            
                <div *ngFor="let paratxt of item.textBodyEng.split()">
                  <br *ngIf="paratxt===''">
                  <p  *ngIf="paratxt!==''" >{{paratxt}} </p>
                </div>                            
                
                <br>        
            
              </div> 
            
            
              <div *ngIf="bTrans" style="text-align: justify; font-family:NotoSansTelugu; line-height:125%;font-size: 22px;">
            
                <div *ngFor="let paratxt of getTranForPara(item.textBody)">
                  <br *ngIf="paratxt===''">
                  <p *ngIf="paratxt!==''" >{{paratxt}} </p>
                </div>
                <br>
              
              </div>         

            </div>

            <div *ngIf="item.drawLine" class="wavy-line">
            </div>

          </div>
  
          <div *ngIf="item.type==1">
            <div style="text-align: left;">
              <div class="form-group">
                <label>Enter Header Text</label>
                <input type="text" class="form-control" [(ngModel)]="item.textTop"  placeholder="......">              
              </div>

              <div class="form-group">
                <label>Enter Header Text English meaning</label>
                <input type="text" class="form-control" [(ngModel)]="item.textTopEng"  placeholder="......">

              </div>
            </div>
            <div *ngIf="item.textTop!=''">
              <span *ngIf="bTel" style="font-family:NotoSansTelugu; line-height:125%;font-size: 22px;">
                <p>{{getTel(item.textTop)}} </p>
              </span>              
              
              <span *ngIf="bTrans" style="font-family:NotoSansTelugu; line-height:125%;font-size: 22px;">
                <p>{{getTran(item.textTop)}} </p>
              </span>
  
            </div>
            
            <img [style.height.px]="item.imageHeight" src="{{item.imageUrl}}">   
            <input type="text" class="form-control" [(ngModel)]="item.imageUrl"  placeholder="......">
            <div class="form-group">
              <label>Enter Image Height</label>
              <input type="text" class="form-control" [(ngModel)]="item.imageHeight"  placeholder="......">                            
            </div>

            <div *ngIf="item.textBtm!=''">
              <span *ngIf="bTel" style="font-family:NotoSansTelugu; line-height:125%;font-size: 22px;">
                <p>{{getTel(item.textBtm)}} </p>
              </span>
              

              <span *ngIf="bTrans" style="font-family:NotoSansTelugu; line-height:125%;font-size: 22px;">
                <p>{{getTran(item.textBtm)}} </p>
              </span>
  
            </div>
            <div style="text-align: left;">
              <div class="form-group">
                <label>Enter Bottom Text</label>
                <input type="text" class="form-control" [(ngModel)]="item.textBtm"  placeholder="......">                            
              </div>

              <div class="form-group">
                <label>Enter Bottom Text English meaning</label>
                <input type="text" class="form-control" [(ngModel)]="item.textBtmEng"  placeholder="......">
              </div>
            </div>
          
          </div>

          <div *ngIf="item.type==10">
            <div style="text-align: left;">
              <div class="form-group">
                <label>Enter Image Height</label>
                <input type="text" class="form-control" [(ngModel)]="item.imageHeight"  placeholder="......">                            
              </div>
              <div class="form-group">
                <label>Enter Header Text</label>
                <input type="text" class="form-control" [(ngModel)]="item.textTop"  placeholder="......">              
              </div>

              <div class="form-group">
                <label>Enter Header Text English meaning</label>
                <input type="text" class="form-control" [(ngModel)]="item.textTopEng"  placeholder="......">
              </div>
            </div>
            <div *ngIf="item && item.textTop!=''">
              <span *ngIf="bTel" style="font-family:NotoSansTelugu; line-height:125%;font-size: 22px;">
                <p>{{getTel(item.textTop)}} </p>
              </span>  
              
  
              <span *ngIf="bTrans" style="font-family:NotoSansTelugu; line-height:125%;font-size: 22px;">
                <p>{{getTran(item.textTop)}} </p>
              </span>  
            </div>
  
            <div *ngIf="item.slist.length > 0">
  
              <img [style.height.px]="item.imageHeight" src="{{item.slist[curLitem].imageUrl}}"> 
              
              <input type="text" class="form-control" [(ngModel)]="item.slist[curLitem].imageUrl"  placeholder="......">
              <div style="text-align: left;">
                <div class="form-group">
                  <label>Enter Slider Text</label>
                  <input type="text" class="form-control" [(ngModel)]="item.slist[curLitem].text"  placeholder="......">              
                </div>
  
                <div class="form-group">
                  <label>Enter Text English meaning</label>
                  <input type="text" class="form-control" [(ngModel)]="item.slist[curLitem].textEng"  placeholder="......">

                </div>
              </div>
              
              <span *ngIf="bTel" style="font-family:NotoSansTelugu; line-height:125%;font-size: 22px;">
                <p>{{getTel(item.slist[curLitem].text)}} </p>
                
              </span>
  
              <span *ngIf="bTrans" style="font-family:NotoSansTelugu; line-height:125%;font-size: 22px;">
                <p>{{getTran(item.slist[curLitem].text)}} </p>
              </span>
              
              <div class="w3-bar w3-light-grey w3-row" >
                <button class="w3-bar-item w3-button btnAction w3-col l3 m3 s3" (click)="curLitem = 0">Home</button>
                <button [disabled]="curLitem < 1" class="w3-bar-item w3-button btnAction w3-col l3 m3 s3" (click)="curLitem = curLitem - 1">Previous</button>               
                <button [disabled]="curLitem > item.slist.length-2" class="w3-bar-item w3-button btnAction w3-col l3 m3 s3" (click)="curLitem = curLitem + 1">Next</button>                
                <button class="w3-bar-item w3-button btnAction w3-col l3 m3 s3" (click)="curLitem = item.slist.length-1">End</button>
            
              </div>
              <div class="w3-bar w3-light-grey w3-row" >
                <button class="w3-bar-item w3-button btnAction w3-col l3 m3 s3" (click)="insertSlideBefore(item.slist, curLitem)">Add Before</button>
                <button [disabled]="curLitem < 1" class="w3-bar-item w3-button btnAction w3-col l3 m3 s3" (click)="deleteThisSlide(item.slist, curLitem)">Delete</button> 
                <button class="w3-bar-item w3-button btnAction w3-col l3 m3 s3" (click)="insertSlideBefore(item.slist, curLitem+1)">Add After</button>            
              </div>
            </div> 

  
            <div *ngIf="item.textBtm!=''">
              <span *ngIf="bTel" style="font-family:NotoSansTelugu; line-height:125%;font-size: 22px;">
                <p>{{getTel(item.textBtm)}} </p>                
              </span>  
  
              <span *ngIf="bTrans" style="font-family:NotoSansTelugu; line-height:125%;font-size: 22px;">
                <p>{{getTran(item.textBtm)}} </p>
              </span>  
            </div>

            <div style="text-align: left;">
              <div class="form-group">
                <label>Enter Bottom Text</label>
                <input type="text" class="form-control" [(ngModel)]="item.textBtm"  placeholder="......">                          
              </div>

              <div class="form-group">
                <label>Enter Bottom Text English meaning</label>
                <input type="text" class="form-control" [(ngModel)]="item.textBtmEng"  placeholder="......">
              </div>
            </div>
          
          </div>
  
          <div *ngIf="item.type==99" class="wavy-line">
          </div>

        </div>

      </div>  
      <h1>End of Row-{{rowcount+1}}</h1>
      <button (click)="createNewRowAbove(rowcount+1)">Insert Row Below</button>
      <hr>
      <br>
    </div>

  <div>
    <div class="w3-bar w3-light-grey w3-row" >
      <button class="w3-bar-item w3-button btnAction w3-col l3 m3 s3" (click)="updateJson()">Update Json</button>
  
    </div>
		<p>Preview</p>	
         
    <div *ngIf="currentLessonCount>=0" id="stotramcontent" class="a4-sheet">
  
      <div class="element-container" *ngFor="let RowData of RowsData">
  
        <div [style.width.%]="item.width"  class="element" *ngFor="let item of RowData.items">
          <div *ngIf="item.type==0">
            <div *ngIf="item.textTop!=''">
              <span *ngIf="bTel" style="font-family:NotoSansTelugu; line-height:125%;font-size: 22px;">
                <p>{{getTel(item.textTop)}} </p>
              </span>  
 
              <span *ngIf="bTrans" style="font-family:NotoSansTelugu; line-height:125%;font-size: 22px;">
                <p>{{getTran(item.textTop)}} </p>
                <p>{{(item.textTopEng)}} </p>
              </span>

            </div>
  
            <div *ngIf="item.textBody">
              <div *ngIf="bTel" style="text-align: justify; font-family:NotoSansTelugu; line-height:125%;font-size: 22px;">
                <div *ngFor="let paratxt of getTelForPara(item.textBody)">
                  <br *ngIf="paratxt===''">
                  <p *ngIf="paratxt!==''" >{{paratxt}} </p>
                </div>
                            
                <div *ngFor="let paratxt of item.textBodyEng.split()">
                  <br *ngIf="paratxt===''">
                  <p  *ngIf="paratxt!==''" >{{paratxt}} </p>
                </div>                            
                
                <br>        
            
              </div> 
            
            
              <div *ngIf="bTrans" style="text-align: justify; font-family:NotoSansTelugu; line-height:125%;font-size: 22px;">
            
                <div *ngFor="let paratxt of getTranForPara(item.textBody)">
                  <br *ngIf="paratxt===''">
                  <p *ngIf="paratxt!==''" >{{paratxt}} </p>
                </div>
                <br>
              
              </div>         

            </div>

            <div *ngIf="item.drawLine" class="wavy-line">
            </div>

          </div>
  
          <div *ngIf="item.type==1">
            <div *ngIf="item.textTop!=''">
              <span *ngIf="bTel" style="font-family:NotoSansTelugu; line-height:125%;font-size: 22px;">
                <p>{{getTel(item.textTop)}} </p>
              </span>
  
 
              <span *ngIf="bTrans" style="font-family:NotoSansTelugu; line-height:125%;font-size: 22px;">
                <p>{{getTran(item.textTop)}} </p>
              </span>
  
            </div>
            
            <img [style.height.px]="item.imageHeight" src="{{item.imageUrl}}">   
            <div *ngIf="item.textBtm!=''">
              <span *ngIf="bTel" style="font-family:NotoSansTelugu; line-height:125%;font-size: 22px;">
                <p>{{getTel(item.textBtm)}} </p>
              </span>

  
              <span *ngIf="bTrans" style="font-family:NotoSansTelugu; line-height:125%;font-size: 22px;">
                <p>{{getTran(item.textBtm)}} </p>
              </span>
  
            </div>
          
          </div>

          <div *ngIf="item.type==10">
            <div *ngIf="item.textTop!=''">
              <span *ngIf="bTel" style="font-family:NotoSansTelugu; line-height:125%;font-size: 22px;">
                <p>{{getTel(item.textTop)}} </p>
              </span>  
  
              <span *ngIf="bTrans" style="font-family:NotoSansTelugu; line-height:125%;font-size: 22px;">
                <p>{{getTran(item.textTop)}} </p>
              </span>  
            </div>
  
            <div *ngIf="item.slist.length > 0">
  
              <img [style.height.px]="item.imageHeight" src="{{item.slist[curLitem].imageUrl}}"> 
              <span *ngIf="bTel" style="font-family:NotoSansTelugu; line-height:125%;font-size: 22px;">
                <p>{{getTel(item.slist[curLitem].text)}} </p>
              </span>
  
              <span *ngIf="bTrans" style="font-family:NotoSansTelugu; line-height:125%;font-size: 22px;">
                <p>{{getTran(item.slist[curLitem].text)}} </p>
              </span>
              
              <div class="w3-bar w3-light-grey w3-row" >
                <button class="w3-bar-item w3-button btnAction w3-col l3 m3 s3" (click)="curLitem = 0">Home</button>
                <button [disabled]="curLitem < 1" class="w3-bar-item w3-button btnAction w3-col l3 m3 s3" (click)="curLitem = curLitem - 1">Previous</button>               
                <button [disabled]="curLitem > item.slist.length-2" class="w3-bar-item w3-button btnAction w3-col l3 m3 s3" (click)="curLitem = curLitem + 1">Next</button>                
                <button class="w3-bar-item w3-button btnAction w3-col l3 m3 s3" (click)="curLitem = item.slist.length-1">End</button>
            
              </div>
            </div>
  
            <div *ngIf="item.textBtm!=''">
              <span *ngIf="bTel" style="font-family:NotoSansTelugu; line-height:125%;font-size: 22px;">
                <p>{{getTel(item.textBtm)}} </p>
              </span>
  
  
              <span *ngIf="bTrans" style="font-family:NotoSansTelugu; line-height:125%;font-size: 22px;">
                <p>{{getTran(item.textBtm)}} </p>
              </span>
  
            </div>
          
          </div>
  
          <div *ngIf="item.type==99" class="wavy-line">
          </div>
        
        
        </div>
  
  
  
    </div>  
  
       
  
</div>						
  
  