
    
  <p>By logging in, you are indicating your agreement to our terms and conditions.</p>
  
  <button type="button" class="btn btn-info" style="margin: 20px;" (click)="bViewTermsAndConds = !bViewTermsAndConds" >View/Hide Terms & Conditions</button>

  <label>
    <input type="checkbox" [(ngModel)]="bAcceptTermsAndConds"> Accept
  </label>
  

  <div *ngIf="bViewTermsAndConds">
    <h3>Terms & Conditions</h3>
  
    <div class="card mb-3" *ngFor="let tc of sTermsAndConditions">
      <div class="card-body">
        <h3 class="card-title">{{tc.title}}</h3>
        <p class="card-text">{{tc.description}}</p>
        
      </div>
    </div>

  </div>


<div class="w3-row" style="padding: 20px;">
    <div class="w3-col w3-container m6 l4">
        <!-- Login form goes here -->
        <div >
            <div class="card">
                <div class="card-body"> 
                    <form>
                        <div class="mb-3">
                            <h4 class=""text-dark text-muted>Login</h4>
                        </div>
                        <div class="mb-3">
                          <label for="email" class="form-label">Email</label>
                          <input type="email" class="form-control" name="email" [(ngModel)]="email">                          
                        </div>
                        <div class="mb-3">
                          <label for="password" class="form-label">Password</label>
                          <input type="password" class="form-control" name="password" [(ngModel)]="password">
                        </div>                        
                        <button type="button" class="btn btn-info" style="margin: 20px;" (click)="login()" >Login</button>

                        <div class="mb-3" *ngIf="sAuthResponse != ''">
                            <h5 class="text-danger">{{sAuthResponse}}</h5>
                        </div>

                        <div class="mb-3" *ngIf="bShowActivateButton">
                            <button type="button" class="btn btn-info" style="margin: 20px;" (click)="activateAccount()">Send another Activation link</button>
                        </div>

                        <div class="mb-3" *ngIf="!bShowActivateButton">
                                <a href="/register" style="text-decoration: none;">Need Account ? <span class="text-danger">Register</span></a>
                        </div>

                        <div class="mb-3" *ngIf="!bShowActivateButton">
                                <a href="/reset" class="text-dark" style="text-decoration: none;">Forgot Password ? <span class="text-danger">Reset</span></a>
                        </div>


                      </form>

                </div>
            </div>
        </div>
    </div>
</div>

