.welcome-message {
    text-align: center;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
  }

  .normal-message {
    text-align: left;
  }

  .warning-message {
    background-color: #ffcc00;
    padding: 10px;
    border: 1px solid #ffaa00;
    text-align: center;
    position: relative;
    border-radius: 10px;
    bottom: 0;
    width: 100%;
    font-size: 1.2em;
  }

