<div class="w3-row w3-center" style="padding-left: 20px; padding-right: 20px;" >
    <div class="w3-col w3-container m3 l2" >
        
        <img [src]="'./assets/images/Bpic-2.png'" alt="Alps" style="width:150px; height:auto " *ngIf="isLanguageTelugu">
        <img [src]="'./assets/images/Bpic-san.png'" alt="Alps" style="width:150px; height:auto " *ngIf="!isLanguageTelugu">
      </div>
      <div class="w3-col w3-container m6 l8" *ngIf="isLanguageTelugu">
        <div class="div-telugu20" style="font-size:5vw;">బాల ముకుందము </div>
        <div class="div-telugu20" style="font-size:3vw;">తెలుగు పాఠశాల </div>          
      </div>
      <div class="w3-col w3-container m6 l8" *ngIf="!isLanguageTelugu">
        <div class="div-hindi20" style="font-size:5vw;">बालमुकुन्दम्‌ </div>
        <div class="div-hindi20" style="font-size:3vw;">संस्कृत पाठशाला</div>          
      </div>
      <div class="w3-col w3-container m3 l2 w3-hide-small" >
        <img [src]="profilePictureUrl" alt="Alps" style="width:auto; height:150px "> 
      </div>
</div>

<app-scroll-header></app-scroll-header>

<!-- Navigation Bar -->

<div class="w3-bar w3-light-grey" style="padding-left: 10%; padding-right: 10%;">
    <a routerLink="home" class="w3-bar-item w3-button  w3-hide-small">About Us</a>
    <a routerLink="curriculum" class="w3-bar-item w3-button  w3-hide-small">Curriculum</a>
    <!--<a routerLink="media" class="w3-bar-item w3-button  w3-hide-small">Media</a>-->
    <div class="w3-dropdown-hover  w3-hide-small">
      <!--<button class="w3-button" *ngIf="isLoggedIn$ | async">Lessons</button>-->
      <button class="w3-button" *ngIf="isStudent$ || isTeacher$">Lessons</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a routerLink="varnamaala" class="w3-bar-item w3-button" *ngIf="isStudent$ || isTeacher$">Varna Maala</a>
        <a routerLink="telwords" class="w3-bar-item w3-button" *ngIf="isStudent$ || isTeacher$">Padamulu</a>      
        <a routerLink="dasturi" class="w3-bar-item w3-button" *ngIf="isStudent$ || isTeacher$">Dasturi</a>
        <a routerLink="books" class="w3-bar-item w3-button" *ngIf="isStudent$ || isTeacher$">Books</a>
        <a routerLink="grammer" class="w3-bar-item w3-button" *ngIf="isStudent$ || isTeacher$">VyaakaraNamu</a>
        <a routerLink="sabdams" class="w3-bar-item w3-button" *ngIf="isStudent$ || isTeacher$">Sanskrit Vibhaktis</a> 
        <a routerLink="worksheets" class="w3-bar-item w3-button" *ngIf="isStudent$ || isTeacher$">Worksheets</a>
      </div>
    </div>
    <div class="w3-dropdown-hover  w3-hide-small">
      <!--<button class="w3-button" *ngIf="isLoggedIn$ | async">Lessons</button>-->
      <button class="w3-button" *ngIf="isStudent$ || isTeacher$">Games</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a routerLink="identify" class="w3-bar-item w3-button" *ngIf="isStudent$ || isTeacher$">Alphabet Game</a> 
        <a routerLink="colorgame" class="w3-bar-item w3-button" *ngIf="isStudent$ || isTeacher$">Colors Game</a> 
        <a routerLink="numbergame" class="w3-bar-item w3-button" *ngIf="isStudent$ || isTeacher$">Numbers Game</a> 
        <a routerLink="weekdaygame" class="w3-bar-item w3-button" *ngIf="isStudent$ || isTeacher$">Days of the Week</a> 
        <a routerLink="fruitsgame" class="w3-bar-item w3-button" *ngIf="isStudent$ || isTeacher$">Fruits & Vegitables</a> 
      </div>
    </div>

    <div class="w3-dropdown-hover  w3-hide-small">
      <!--<button class="w3-button" *ngIf="isLoggedIn$ | async">Lessons</button>-->
      <button class="w3-button">Sanskrit</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a routerLink="sabdams" class="w3-bar-item w3-button">Vibhaktis</a>
        <!--<a routerLink="snouns" class="w3-bar-item w3-button">Nouns</a> -->
        <a routerLink="sverbs" class="w3-bar-item w3-button">Verbs</a> 
        <a routerLink="igcse" class="w3-bar-item w3-button">IGCSE</a> 
        <!--<a routerLink="ssentences" class="w3-bar-item w3-button">Sentences</a> -->
      </div>
    </div>

    <div class="w3-dropdown-hover  w3-hide-small">
      <!--<button class="w3-button" *ngIf="isLoggedIn$ | async">Lessons</button>-->
      <button class="w3-button">Tutorials</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a routerLink="basicsan" class="w3-bar-item w3-button">Sanskrit</a>
        <a routerLink="basictel" class="w3-bar-item w3-button">Telugu</a> 
      </div>
    </div>

    <div class="w3-dropdown-hover  w3-hide-small">
      <!--<button class="w3-button" *ngIf="isLoggedIn$ | async">Resources</button>-->
      <button class="w3-button" >Resources</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a routerLink="media" class="w3-bar-item w3-button">Media</a>
        <a routerLink="stories" class="w3-bar-item w3-button">Stories</a>
        
        <a routerLink="poems" class="w3-bar-item w3-button"  *ngIf="isStudent$ || isTeacher$">Padyamulu</a>
        <a routerLink="padamulu" class="w3-bar-item w3-button"  *ngIf="isStudent$ || isTeacher$">Gadinudi</a>      
         
      </div>
    </div>

    <div class="w3-dropdown-hover w3-right  w3-hide-small">
      <button class="w3-button">{{sLoggedUser}}</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a routerLink="login" class="w3-bar-item w3-button" *ngIf="!isLoggedIn$">Login</a>
        <a routerLink="{{userStartPage}}" class="w3-bar-item w3-button" *ngIf="isLoggedIn$">MyWorkspace</a>
        <a routerLink="logout" class="w3-bar-item w3-button" *ngIf="isLoggedIn$">Logout</a>
        
      </div>
    </div>
  
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" (click)="myFunctionMobile()">&#9776;</a>
  </div>
  
  <div #mobileBar class="w3-bar-block w3-light-grey w3-hide w3-hide-large w3-hide-medium">
    <a routerLink="home" class="w3-bar-item w3-button ">About Us</a>
    <a routerLink="curriculum" class="w3-bar-item w3-button ">Curriculum</a>
    <!--<a routerLink="media" class="w3-bar-item w3-button  ">Media</a>-->
    <div class="w3-dropdown-hover  ">
      <!--<button class="w3-button" *ngIf="isLoggedIn$ | async">Lessons</button>-->
      <button class="w3-button" *ngIf="isStudent$ || isTeacher$">Lessons</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a routerLink="varnamaala" class="w3-bar-item w3-button" *ngIf="isStudent$ || isTeacher$">Varna Maala</a>
        <a routerLink="telwords" class="w3-bar-item w3-button" *ngIf="isStudent$ || isTeacher$">Padamulu</a>      
        <a routerLink="dasturi" class="w3-bar-item w3-button" *ngIf="isStudent$ || isTeacher$">Dasturi</a>
        <a routerLink="books" class="w3-bar-item w3-button" *ngIf="isStudent$ || isTeacher$">Books</a>
        <a routerLink="grammer" class="w3-bar-item w3-button" *ngIf="isStudent$ || isTeacher$">VyaakaraNamu</a>         
        <a routerLink="worksheets" class="w3-bar-item w3-button" *ngIf="isStudent$ || isTeacher$">Worksheets</a>
      </div>
    </div>
    <div class="w3-dropdown-hover  ">
      <!--<button class="w3-button" *ngIf="isLoggedIn$ | async">Games</button>-->
      <button class="w3-button" *ngIf="isStudent$ || isTeacher$">Games</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a routerLink="identify" class="w3-bar-item w3-button" *ngIf="isStudent$ || isTeacher$">Alphabet Game</a> 
        <a routerLink="colorgame" class="w3-bar-item w3-button" *ngIf="isStudent$ || isTeacher$">Colors Game</a> 
        <a routerLink="numbergame" class="w3-bar-item w3-button" *ngIf="isStudent$ || isTeacher$">Numbers Game</a> 
        <a routerLink="weekdaygame" class="w3-bar-item w3-button" *ngIf="isStudent$ || isTeacher$">Days of the Week</a> 
        <a routerLink="fruitsgame" class="w3-bar-item w3-button" *ngIf="isStudent$ || isTeacher$">Fruits & Vegitables</a>
      </div>
    </div>

    <div class="w3-dropdown-hover  ">
      <button class="w3-button">Sanskrit</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a routerLink="sabdams" class="w3-bar-item w3-button">Vibhaktis</a>
        <!--<a routerLink="snouns" class="w3-bar-item w3-button">Nouns</a> -->
        <a routerLink="sverbs" class="w3-bar-item w3-button">Verbs</a> 
        <a routerLink="igcse" class="w3-bar-item w3-button">IGCSE</a> 
        <!--<a routerLink="ssentences" class="w3-bar-item w3-button">Sentences</a> -->
      </div>
    </div>

    <div class="w3-dropdown-hover  ">
      <button class="w3-button">Tutorials</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a routerLink="basicsan" class="w3-bar-item w3-button">Sanskrit</a>
        <a routerLink="basictel" class="w3-bar-item w3-button">Telugu</a> 
      </div>
    </div>

    <div class="w3-dropdown-hover  ">
      <!--<button class="w3-button" *ngIf="isLoggedIn$ | async">Resources</button>-->
      <button class="w3-button">Resources</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">      
        <a routerLink="media" class="w3-bar-item w3-button">Media</a>
        <a routerLink="stories" class="w3-bar-item w3-button">Stories</a>
        <a routerLink="poems" class="w3-bar-item w3-button" *ngIf="isStudent$ || isTeacher$">Padyamulu</a>
        <a routerLink="padamulu" class="w3-bar-item w3-button" *ngIf="isStudent$ || isTeacher$">Gadinudi</a>
        
      </div>
    </div>
    <div class="w3-dropdown-hover ">
      <button class="w3-button">{{sLoggedUser}}</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a routerLink="login" class="w3-bar-item w3-button" *ngIf="!isLoggedIn$">Login</a>
        <a routerLink="{{userStartPage}}" class="w3-bar-item w3-button" *ngIf="isLoggedIn$">MyWorkspace</a>
        <a routerLink="logout" class="w3-bar-item w3-button" *ngIf="isLoggedIn$">Logout</a>
      </div>
    </div>
  </div>






<div id="homePageContent" style="padding-left: 10%; padding-right: 10%; padding-top: 10px;" >
  
    <router-outlet></router-outlet>
    
    <br>
    
  </div>


<div class="w3-bar w3-light-grey w3-center div-telugu20" style="padding-left: 10%; padding-right: 10%;" *ngIf="isLanguageTelugu"> 
    బాలముకుందము ఔత్సాహికులయిన ఉపాధ్యాయులు, స్వచ్చందంగా అందిస్తున్న సేవల ఆధారంగా నిర్వహింపబడుతున్న ధార్మిక విద్యాసంస్థ. మా పాఠశాలలో పాఠములు, పరీక్షలు, పుస్తకములు వంటి బోధనాంశములు అన్ని విద్యార్థులకు ఉచితముగా అందజేయబడును. www.balamukundam.co.uk
</div>

<div class="w3-bar w3-light-grey w3-center div-hindi20" style="padding-left: 10%; padding-right: 10%;" *ngIf="!isLanguageTelugu"> 
    बालमुकुन्दम् उत्साही शिक्षकैः स्वयंसेवायाम् आधारेण चालिता धार्मिकविद्यासंस्था अस्ति । अस्माकं विद्यालये पाठाः, परीक्षाः, पुस्तकानि इत्यादीनि बोधनांशाः सर्वेभ्यः छात्रेभ्यः निःशुल्कं प्रदत्तानि सन्ति।
</div>