


<div class="input-group mb-3">

    <div *ngIf="lessonHeaderData[currentCount]" class="a4-sheet">
        <div style="text-align: center;">
            <h1 style="font-family:NotoSansTelugu;">{{getTel('telugu paaThamulu')}}</h1>
        
            <input  type="checkbox" id="checktel" [(ngModel)]="bTel" >
            <label for="checktel" style="padding-left: 5px; "> Telugu</label>  
        
            <input  type="checkbox" id="checktrans" [(ngModel)]="bTrans" style="margin-left: 25px; ">
            <label for="checktrans" style="padding-left: 5px; "> Transcription</label> 
        </div>

        <input  type="checkbox" id="selectLesson" [(ngModel)]="bShowLessons" >
        <label for="selectLesson" class="div-telugu20" style="padding-left: 5px; "> Select Lesson {{getTel(lessonHeaderData[currentCount].lName)}}</label>  
        <div *ngIf="bShowLessons" class="w3-bar w3-light-grey" style="padding-left: 10%; padding-right: 10%;">
            <button *ngFor="let wsObjs of lessonHeaderData; index as i" class="w3-bar-item w3-button w3-mobile" (click)="incrementCounter(i)"><div id="{{ 'wsObjs' + i }}" class="div-telugu20">{{i+1}}) {{getTel(wsObjs.lName)}}</div></button>
        </div>
        <br>

        <div *ngIf="bShowSubLessons && lessonHeaderData[currentCount]" class="w3-bar w3-light-grey" style="padding-left: 10%; padding-right: 10%;">
            <button *ngFor="let wsObjs of lessonHeaderData[currentCount].lessons; index as i" class="w3-bar-item w3-button w3-mobile" (click)="incrementCounter2(i)"><div id="{{ 'wsObjs' + i }}" class="div-telugu20">{{i+1}}) {{getTel(wsObjs.title)}}</div></button>
        </div>

    </div>

    
  

          
    <div *ngIf="currentLessonCount>=0" id="stotramcontent" class="a4-sheet">
  
      <div class="element-container" *ngFor="let RowData of RowsData">
  
        <div [style.width.%]="item.width"  class="element" *ngFor="let item of RowData.items">
          <div *ngIf="item.type==0">
            <div *ngIf="item.textTop!=''">
              <span *ngIf="bTel" style="font-family:NotoSansTelugu; line-height:125%;font-size: 22px;">
                <p>{{getTel(item.textTop)}} </p>
              </span>  
 
              <span *ngIf="bTrans" style="font-family:NotoSansTelugu; line-height:125%;font-size: 22px;">
                <p>{{getTran(item.textTop)}} </p>
                <p style="background-color: chartreuse;">{{(item.textTopEng)}} </p>
              </span>

              
  
            </div>

            <br>
  
  
            <div [style.margin-left.px]="item.leftmargin" *ngIf="bTel" >
              <div *ngFor="let para of item.textBody" style="text-align: justify; font-family:NotoSansTelugu; line-height:125%;font-size: 22px;">
  
                <div *ngIf="para.ptype==0">
                  <p>{{getTel(para.ptext)}} </p>
                </div>
                
    
                <div [style.margin-left]="item.leftmargin" *ngIf="para.ptype==1" style="text-align: justify; margin-left: 20px;">
                  <p *ngFor="let plitem of para.plist, let i = index">{{i+1}}. {{getTel(plitem.txt)}} </p>
                </div>
    
                <div [style.margin-left]="item.leftmargin" *ngIf="para.ptype==2" style="text-align: justify; margin-left: 20px;">
                  <p *ngFor="let plitem of para.plist, let i = index">* {{getTel(plitem.txt)}} </p>
                </div>

                <br>
    
              </div>           
  
            </div>
  
  
            <div [style.margin-left.px]="item.leftmargin" *ngIf="bTrans">
  
              <div *ngFor="let para of item.textBody" style="text-align: justify; font-family:NotoSansTelugu; line-height:125%;font-size: 22px;">
  
                <div *ngIf="para.ptype==0">
                  <p>{{getTran(para.ptext)}} </p>
                  <p style="background-color: chartreuse;">{{(para.ptextEng)}} </p>
                </div>
  
                <div *ngIf="para.ptype==1" style="text-align: justify; margin-left: 20px;">
                  <p *ngFor="let plitem of para.plist, let i = index">{{i+1}}. {{getTran(plitem.txt)}} </p>
                  <p style="background-color: chartreuse;" *ngFor="let plitem of para.plist, let i = index">{{i+1}}. {{(plitem.txtEng)}} </p>
                </div>
    
                <div *ngIf="para.ptype==2" style="text-align: justify; margin-left: 20px;">
                  <p *ngFor="let plitem of para.plist, let i = index">* {{getTran(plitem.txt)}} </p>
                  <p style="background-color: chartreuse;" *ngFor="let plitem of para.plist, let i = index">* {{(plitem.txtEng)}} </p>
                </div>

                <br>
    
              </div>   
  
            </div>
  
            <div *ngIf="item.drawLine" class="wavy-line">
            </div>
  
  
          </div>
  
          <div *ngIf="item.type==1">
            <div *ngIf="item.textTop!=''">
              <span *ngIf="bTel" style="font-family:NotoSansTelugu; line-height:125%;font-size: 22px;">
                <p>{{getTel(item.textTop)}} </p>                
              </span>
  
 
              <span *ngIf="bTrans" style="font-family:NotoSansTelugu; line-height:125%;font-size: 22px;">
                <p>{{getTran(item.textTop)}} </p>
                <p style="background-color: chartreuse;">{{(item.textEng)}} </p>
              </span>
  
            </div>
            
            <img src="{{item.imageUrl}}">   
            <div *ngIf="item.textBtm!=''">
              <span *ngIf="bTel" style="font-family:NotoSansTelugu; line-height:125%;font-size: 22px;">
                <p>{{getTel(item.textBtm)}} </p>
              </span>

  
              <span *ngIf="bTrans" style="font-family:NotoSansTelugu; line-height:125%;font-size: 22px;">
                <p>{{getTran(item.textBtm)}} </p>
                <p style="background-color: chartreuse;">{{(item.textBtmEng)}} </p>
              </span>
  
            </div>
          
          </div>

          <div *ngIf="item.type==10">
            <div *ngIf="item.textTop!=''">
              <span *ngIf="bTel" style="font-family:NotoSansTelugu; line-height:125%;font-size: 22px;">
                <p>{{getTel(item.textTop)}} </p>
              </span>  
  
              <span *ngIf="bTrans" style="font-family:NotoSansTelugu; line-height:125%;font-size: 22px;">
                <p>{{getTran(item.textTop)}} </p>
                <p style="background-color: chartreuse;">{{(item.textTopEng)}} </p>
              </span>  
            </div>
  
            <div *ngIf="item.slist.length > 0">
  
              <img src="{{item.slist[curLitem].imageUrl}}"> 
              <span *ngIf="bTel" style="font-family:NotoSansTelugu; line-height:125%;font-size: 22px;">
                <p>{{getTel(item.slist[curLitem].text)}} </p>
              </span>
  
              <span *ngIf="bTrans" style="font-family:NotoSansTelugu; line-height:125%;font-size: 22px;">
                <p>{{getTran(item.slist[curLitem].text)}} </p>
                <p style="background-color: chartreuse;">{{(item.slist[curLitem].textEng)}} </p>
              </span>
              
              <div class="w3-bar w3-light-grey w3-row" >
                <button class="w3-bar-item w3-button btnAction w3-col l3 m3 s3" (click)="curLitem = 0">Home</button>
                <button [disabled]="curLitem < 1" class="w3-bar-item w3-button btnAction w3-col l3 m3 s3" (click)="curLitem = curLitem - 1">Previous</button>               
                <button [disabled]="curLitem > item.slist.length-2" class="w3-bar-item w3-button btnAction w3-col l3 m3 s3" (click)="curLitem = curLitem + 1">Next</button>                
                <button class="w3-bar-item w3-button btnAction w3-col l3 m3 s3" (click)="curLitem = item.slist.length-1">End</button>
            
              </div>
            </div>
  
            <div *ngIf="item.textBtm!=''">
              <span *ngIf="bTel" style="font-family:NotoSansTelugu; line-height:125%;font-size: 22px;">
                <p>{{getTel(item.textBtm)}} </p>
              </span>
  
  
              <span *ngIf="bTrans" style="font-family:NotoSansTelugu; line-height:125%;font-size: 22px;">
                <p>{{getTran(item.textBtm)}} </p>
                <p style="background-color: chartreuse;">{{(item.textBtmEng)}} </p>
              </span>
  
            </div>
          
          </div>
  
          <div *ngIf="item.type==99" class="wavy-line">
          </div>
        
        
        </div>
  
  
  
    </div>  
  
			
       
  
</div>						
  
  